/* Write your CSS here */
.header-text {
  font-family: 'Roboto';
  font-size: 30px;
  color: #475569;
  font-weight: 600;
  line-height: 1.2;
}
.header-container {
  background-color: #cbd5e1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
